@model YogNatomy.Models.Pose

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pose</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoseClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoseClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryMuscle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryMuscle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryMuscle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryMuscle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FitnessLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FitnessLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
