<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - YogNatomy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body style="background-image:url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/cherry-blossom-background-in-gradient-light-sky-sajjaphot.jpg); padding-top: unset;  background-size: cover">
    <div class="container body-content" style=" max-width:unset; padding-left: 0px;">
        <div class ="row">
            <div class="col-md-2" style="background-color:white" >
                @Html.Partial("_SideBar")
            </div>
            <div class="col-md-9">
                @RenderBody()
                <footer>
                    <p>&copy; @DateTime.Now.Year - YogNatomy</p>
                </footer>
            </div>
        </div>
    
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
