@model YogNatomy.Models.Trainee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trainee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.traineename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.traineename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.traineeheight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.traineeheight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.traineeweight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.traineeweight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.traineeage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.traineeage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fitnesslevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fitnesslevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainer.trainername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainer.trainername)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.traineeid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
